footer .copyrt-text{
  font-size: 12px ! important;
  color: gray ! important;

}


body{
color:#000;
background-color: #fff;

}
.navbar-custom.top-nav-collapse{
  border:none;
}
.text-justify{
  text-align: justify;
}

.project-des-text{
  font-size: 16px;
}

.project{
padding-top:50px;
padding-bottom:50px;

}

.project-rm{
  margin:100px auto;
}


.navbar-custom-override{
  background-color: #000;
  padding:0px;
}


h4,h6{
  font-weight: 300;
  margin-top:0px ;
  text-transform: capitalize;
}

h1{
  font-weight: 500;
  margin-bottom:15px;
  text-transform: capitalize;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.95), rgba(0, 0, 0, 0));
}

 .project-des p, #projects p, .project-des .sub-headers, .overview ul li, .project-des ul li{
  margin-bottom: 10px;
  font-size: 16px;
}

.wrapper{
  margin: 5px auto;
}
.project-rm section{
  margin:40px auto;
}

.text-italic-light{
font-style: italic;
font-size: 20px;
padding:15px;
}

.text-small-light{
  font-size:  14px;
  color: #848482;
}

.proj-gray-text{
  color: #999999;
}

.proj-norm-text{
  color: #000;
}
.proj-border{
  padding: 15px;
  border: 1px dashed #c0c0c0;
}
.btn{
  border-radius: 5px;
}
.btn-default{
  border-color: #37C2CA;
  color: #37C2CA;
}
.btn-default:focus, .btn-default:hover {
  border-color: #37C2CA;
  background-color: #37C2CA;
  color: #FFF;
}

#about p{
  font-style: italic !important;
  margin-bottom: 10px;
  font-size: 18px;
}

.list-group-item{
  border: none;
}

figure{
  margin:1em auto;
}
